body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1 {
  font-family: monospace;
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  margin: 0;
}

p {
  color: #A4A4A4;
}

span {
  color: #BBBBBB;
}

textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  outline: none;
}

textarea:focus {
  border: 1px solid #FFADAD;
}

img {
  width: 1.8rem;
}